<div class="contact">
  <div class="contact__content">
    <span>{{ title }}</span>
  </div>
  <div class="contact_actions">
    <button class="btn btn-default contact__btn--edit" type="button" value="{{ id }}">
      <i class="fas fa-pen"></i>
    </button>
    <button class="btn btn-default contact__btn--delete" type="button" value="{{ id }}">
      <i class="fas fa-trash"></i>
    </button>
  </div>
</div>
