.task {
  display: flex;
  justify-content: space-between;
  padding: 12px;

  &__content {
    display: flex;
    justify-content: center;
    flex-direction: column;

    span {
      display: inline-block;
    }
  }
}
