<form class="task-form">
  <input class="task-form__id" type="hidden" value="{{ id }}">
  <input class="task-form__title" type="text" value="{{ title }}" placeholder="Title">
  <textarea class="task-form__description" placeholder="Description" rows="6">{{ description }}</textarea>
  <button class="btn btn-success" type="submit">
    <i class="fas fa-save"></i>
    Save
  </button>
</form>
