<div class="dialog__content">
  <div class="dialog__header">
    <h1>{{ header }}</h1>
    <button class="dialog__btn--close" type="button">x</button>
  </div>
  <div class="dialog__body">
    {{{ body }}}
  </div>
</div>
